@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

.showDiv{
    animation-duration: 1s;
    animation-name: showDivTransition;
}

@keyframes showDivTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}